.boody {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    font-family: segoe print;
    color: white;
    margin-top: 75px;
}

.back{
    background-image: url("back1.jpg");
    background-size: 100% 300%;
    max-width: 800px;
    margin: 0 auto;
    color: blue;
    font-family: trebuchet ms;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.footer{
    background-image: url("tree.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
}

#opac{
    opacity: 1;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

