body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150px 100px;
    font-family: segoe print;
    color: white;
    background-color: powderblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

